<form action='/trips' method="post">
    <label>Category</label>
    <select name="category">
    <option value="Past Trip">Past Trip</option>
    <option value="Wishlist">Wishlist</option>
    </select>

    <label>Trip Title</label>
    <input type="text" name="trip_title"><br>

    <label>Country</label>
    <input type="text" name="country"><br>  
    
    <label>City<label>
    <input type="text" name="city"><br>

    <label>Date Visited</label>
    <input type="text" name="date_visited"><br>
    
    <% if @failed %>
        <p class="danger">You must include a country and a trip title</p>
    <% end %>

    <input type="submit" value="Create Trip">

  </form>
