<div class="title_container">
    <p class="index_title">Travel Tracker</p>
</div>

<div class="homepage">
<div class="homepage_container">
<div class="welcome_message">
<p> Welcome <%= current_user.username %></p>
</div>

<% if @trip == nil %>
<p>Create your first trip!</p>
<% else %>
<p>You took a trip to <%= @trip.country%> in <%= @trip.year%></p>
    <p>Where to next?</p>
<% end %>

<div class="homepage_buttons">
<div class="top_button">
<form method="get" action="/trips/new">
    <button type="submit">Create a Trip</button>
</form>
</div>

<% if @trip == nil %>
<% else %>
<div class="middle_button">
<form method="get" action="/trips">
    <button type="submit">See Your Trips</button>
</form>
</div>
<% end %>


</div>
</div>
</div>
