<div class="index_nav">
    <a href="/login">Log In</a>
    <a href="/signup">Sign up</a>
</div>

<div class="title_container">
    <p class="index_title">Travel Tracker</p>
</div>

<div class="login_form_container">
<div class="login_form">

<form action='/login' method="post">
    <label for="username">username</label>
    <input id="username" type="text" name="username"><br>
    <label for="password">password</label>
    <input id="password" type="password" name="password">
    <% if @failed %>
        <p class="danger">Your username/password is incorrect</p>
    <% end %>
<div class="sessions_button">
    <br><input type="submit" value="login">
</div>

</form> 
</div>
</div>
