html {
    background-color: #F1EDEE
}

.danger {
    color: red;
}

.hero_container {
    margin: 0 auto;
    width: 1000px;
    height: 500px;
    padding: 70px 0;    
    background-color: white;
}

.homepage_text {
    text-align: center;
    font-family: 'Red Hat Text', sans-serif;
    color: #3C5466;
}

img {
    width: 800px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.title_container {
    text-align: center;
    clear: right;
}

.home_page_title {
    text-align: center;
    font-family: 'Red Hat Text', sans-serif;
    display: inline-block;
    color: #3C5466;

}

.home_page_subtitle {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 75px;
    line-height: 0px;
    margin-top: 30px;
    margin-bottom: 50px;
    display: inline-block;
    color: #3C5466;

}

.top_nav a {
    float: left;
    color: #3C5466;
    text-align: center;
    padding: 14px, 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Red Hat Text', sans-serif;
    padding-right: 10px;
}

.top_nav {
    float: right
}

.login_form_container {
    width: 400px;
    color: #3C5466;
    margin: 0 auto;
    padding: 70px 0; 
}

input {
    padding: 5px 10px;
    margin: 10px 8px 0;
    border-radius: 5px;
    box-sizing: border-box;
    width: 50%;
}

label, input {
    display: inline-block;
}

label {
    width: 32%;
    text-align: right;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 20px;
}

.submit_button {
    margin-right: 53px;
    text-align: right;
} 

input[type=submit] {
    background-color: #78A1BB;
    color: white;
    font-size: 20px;
}

input[type=submit]:focus {
    outline: none;
}
    


