<div class="index_nav">
    <a href="/login">Log In</a>
    <a href="/signup">Sign up</a>
</div>

<div class="title_container">
    <p class="index_title">Travel Tracker</p>
</div>

<div class="hero_container">
<img src="/assets/images/hero.jpg" alt="Travel Tracker Hero">
<p class="index_text"><a href="/signup">Sign up</a> or <a href="/login">Login</a> to start tracking your travel adventures</p>
</div>


