<div class="error_container">
<div class="error_title">404 Error</div>
<div class="error_text">Oops! You look lost. Click here to get back to your trips. <br> Try not to get lost this time.</div>
<div>